<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <link rel="stylesheet" type="text/css" href="css/location-identifier.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>MTV_ĐỊNH VỊ</title>
</head>

<body>
    <!-- Dashboard -->
    <!--./ Navbar-->
    <div id="ui" class="card">
        <div class="card-header">
            <div class="d-flex flex-row">
                <h5 id="next" class="pt-2 pl-2" style="color:#0072FF">Requests: <span id="request-number" class="badge badge-light">0</span></h5>
            </div>
        </div>
        <div class="card-body p-2">
            <div id="request" class="mt-3">Nothing to show</div>
        </div>
    </div>

    <!--map area-->
    <div id="map"></div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" style="height:40px">
        </a>
        <!-- Right -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, <span id="username"></span></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="logout">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Handlebars template-->
    <template id="requests-template">
        <form id="identifier-form" class="form">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" value={{name}} readonly>
                </div>
                <div class="col-sm-2">
                    <button id="confirm" class="form-control form-control-sm btn btn-sm btn-success">Confirm</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Phone:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" value={{phone}} readonly>
                </div>
                <div class="col-sm-2">
                    <button id="suggest" class="form-control form-control-sm btn btn-sm btn-secondary" type="button">Suggest</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Address:</label>
                <div class="col-sm-8">
                    <input id="address" type="text" class="form-control form-control-sm" value={{address}} readonly>
                </div>
                <div class="col-sm-2">
                    <button id="locate-address" class="form-control form-control-sm btn btn-sm btn-secondary" type="button">Locate</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Suggestion:</label>
                <div class="col-sm-8 btn-group">
                    <input id="suggestion" type="text" class="form-control form-control-sm">
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div id="dropdown-suggestion" class="dropdown-menu dropdown-menu-right">

                    </div>
                </div>
                <div class="col-sm-2">
                    <button id="locate-suggestion" class="form-control form-control-sm btn btn-sm btn-secondary" type="button">Locate</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Location:</label>
                <div class="col-sm-3">
                    <input id="lat" type="text" class="form-control form-control-sm" required>
                </div>
                <div class="col-sm-3">
                    <input id="lng" type="text" class="form-control form-control-sm" required>
                </div>
            </div>
        </form>
    </template>

    <template id="suggestion-template">
        {{#each suggestions}}
        <a class="dropdown-item">{{label}}</a>
        {{/each}}
    </template>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js" integrity="sha256-qlku5J3WO/ehJpgXYoJWC2px3+bZquKChi4oIWrAKoI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/map-script.js"></script>
    <script type="text/javascript" src="js/location-identifier.js"></script>
</body>

</html>