<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/manager.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>MTV_QUẢN LÝ</title>
</head>

<body>
    <header>
        <div class="view img-responsive" style="background-image: url('img/manager_bg.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-sm bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="img/logo_brand.png" style="width:133px">
                </a>
                <!-- Right -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, <span id="username"></span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="logout">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!--./ Navbar-->
            <div class="container-fluid">
                <div class="row" style="padding: 10px 0px 0px 0px;">
                    <div class="col-sm"></div>
                    <div class="col-sm8">
                        <table class="table table-striped table-responsive-md btn-table table-fit">
                            <thead>
                                <tr class="header">
                                    <th>#</th>
                                    <th>Thời điểm đặt</th>
                                    <th>Khách hàng</th>
                                    <th>Điểm đón</th>
                                    <th>Trạng thái</th>
                                    <th>Tài xế</th>
                                    <th>Số điện thoại</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id='request-list' class="tb-body">
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
        </div>
    </header>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Chi tiết</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="map" style="height: 65vh; width: auto; text-align: center"></div>
                <div class="modal-detail"></div>
            </div>
        </div>
    </div>

    <template id="detail-template">
        <!-- The Modal -->
        <table class="table table-striped table-responsive-md btn-table table-fit">
            <thead>
                <tr class="header">
                    <th>Thời điểm đặt</th>
                    <th>Khách hàng</th>
                    <th>Liên hệ</th>
                    <th>Điểm đón</th>
                    <th>Trạng thái</th>
                    <th>Tài xế</th>
                    <th>Số điện thoại</th>
                </tr>
            </thead>
            <tbody class="tb-body">
                <tr>
                    <td>{{time.display}}</td>
                    <td>{{info.name}}</td>
                    <td>{{info.phone}}</td>
                    <td>{{info.address}}</td>
                    <td>
                        {{#equal status "2"}}
                        <button type="button" class="btn btn-detail btn_dacoxenhan btn-disabled btn-sm m-0 waves-effect">Đã có xe nhận</button>
                        {{/equal}}
                        {{#equal status "3"}}
                        <button type="button" class="btn btn-detail btn_dangdichuyen btn-disabled btn-sm m-0 waves-effect">Đang di chuyển</button>
                        {{/equal}}
                        {{#equal status "4"}}
                        <button type="button" class="btn btn-detail btn_dahoanthanh btn-disabled btn-sm m-0 waves-effect">Đã hoàn thành</button>
                        {{/equal}}
                    </td>
                    <td>{{driver.name}}</td>
                    <td>{{driver.phone}}</td>
                </tr>
            </tbody>
        </table>
    </template>

    <template id="request-template">
        {{#each requests}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{time.display}}</td>
            <td>{{info.name}}</td>
            <td>{{info.address}}</td>
            <td>
                {{#equal status "0"}}
                <button type="button" class="btn btn_chuaduocdinhvi btn-disabled btn-sm m-0 waves-effect">Chưa được định vị</button>
                {{/equal}}
                {{#equal status "1"}}
                <button type="button" class="btn btn_daduocdinhvi btn-disabled btn-sm m-0 waves-effect">Đã được định vị</button>
                {{/equal}}
                {{#equal status "2"}}
                <button type="button" class="btn btn_dacoxenhan btn-disabled btn-sm m-0 waves-effect">Đã có xe nhận</button>
                {{/equal}}
                {{#equal status "3"}}
                <button type="button" class="btn btn_dangdichuyen btn-disabled btn-sm m-0 waves-effect">Đang di chuyển</button>
                {{/equal}}
                {{#equal status "4"}}
                <button type="button" class="btn btn_dahoanthanh btn-disabled btn-sm m-0 waves-effect">Đã hoàn thành</button>
                {{/equal}}
                {{#equal status "5"}}
                <button type="button" class="btn btn_khongcoxe btn-disabled btn-sm m-0 waves-effect">Không có xe</button>
                {{/equal}}
            </td>
            <td>{{driver.name}}</td>
            <td>{{driver.phone}}</td>
            <td>
                {{#equal status "2"}}
                <button id={{id}} type="button" class="detail-btn btn btn-outline-primary btn-sm m-0 waves-effect">Chi
                    tiết</button>
                {{/equal}}
                {{#equal status "3"}}
                <button id={{id}} type="button" class="detail-btn btn btn-outline-primary btn-sm m-0 waves-effect">Chi
                    tiết</button>
                {{/equal}}
            </td>
        </tr>
        {{/each}}
    </template>

    <!-- Main navigation -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js" integrity="sha256-qlku5J3WO/ehJpgXYoJWC2px3+bZquKChi4oIWrAKoI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="js/map-script-2.js"></script>
    <script src="js/manager.js"></script>
</body>

</html-