@font-face {
    font-family: "SF-UI-Text-Bold";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SF-UI-Text-Regular";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Regular.otf");
}

@font-face {
    font-family: "SF-UI-Text-Medium";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Medium.otf");
}

#map {
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: absolute;
}

#ui {
    width: 40vw;
    z-index: 1;
    position: fixed;
    margin-top: 80px;
    margin-left: 800px;
}

.dropdown-item {
    font-family: "SF-UI-Text-Medium";
    font-size: 14px;
    color: #0072FF;
    margin: 0
}

.nav-link {
    font-family: "SF-UI-Text-Medium";
    font-size: 14px;
    color: #0072FF !important;
    margin: 0
}

.list-group {
    max-height: 80vh;
    overflow: scroll;
}

.card-header {
    cursor: move;
}

.completed {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

.completed img {
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: block;
}