@font-face {
    font-family: "SF-UI-Text-Bold";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SF-UI-Text-Regular";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Regular.otf");
}

@font-face {
    font-family: "SF-UI-Text-Medium";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Medium.otf");
}

html,
header,
.view {
    height: 100%;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.center {
    width: 800px;
}

body {
    font-family: "SF-UI-Text-Bold";
    font-size: 15px;
    color: #fff;
    margin: 0;
    height: 100%
}

.top-nav-collapse {
    background-color: #0187FF !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.center-block {
    float: none;
    display: block;
    margin: 0 auto;
}

.form-control {
    font-family: "SF-UI-Text-Bold";
    background-color: #fff;
    border: 2px solid #0187FF;
    height: 45px;
    border-radius: 6px;
    width: 100%;
    padding: 0px 18;
    font-size: 12px;
    background: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #000;
    font-family: "SF-UI-Text-Medium";
    font-size: 13px;
}

.form-control::-moz-placeholder {
    color: #000;
    text-transform: inherit;
}

.form-control:-ms-input-placeholder {
    color: #000;
    text-transform: inherit;
}

.form-control:-moz-placeholder {
    color: #000;
    text-transform: inherit;
}

h3,
label {
    color: #fff;
    text-align: center
}

#btn-dangnhap {
    color: #fff;
    background: #61C850;
    border-radius: 6px;
    font-family: "SF-UI-Text-Regular";
    font-size: 15px;
    height: 40px;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}
