@font-face {
    font-family: "SF-UI-Text-Bold";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SF-UI-Text-Regular";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Regular.otf");
}

@font-face {
    font-family: "SF-UI-Text-Medium";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Medium.otf");
}

html,
header,
.view {
    height: 100%;
}

body {
    font-family: "SF-UI-Text-Medium";
    font-size: 14px;
    color: #0072FF;
    margin: 0;
    height: 100%
}

.content h1 {
    text-align: center;
    font-family: "SF-UI-Text-Bold";
    color: #fff
}

.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}

.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}

.dropdown-item {
    font-family: "SF-UI-Text-Medium";
    font-size: 14px;
    color: #0072FF;
    margin: 0
}

.nav-link {
    font-family: "SF-UI-Text-Medium";
    font-size: 14px;
    color: #0072FF !important;
    margin: 0
}

.table {
    background: #fff
}

.tb-body {
    color: #000
}

.btn_chuaduocdinhvi {
    background: #0D75A9;
    color: #fff;
    font-size: 13px;
    font-family: "SF-UI-Text-Medium"
}

.btn_daduocdinhvi {
    background: #01C6FF;
    color: #fff;
    font-size: 13px;
    font-family: "SF-UI-Text-Medium"
}

.btn_dacoxenhan {
    background: #E5DB2C;
    color: #fff;
    font-size: 13px;
    font-family: "SF-UI-Text-Medium"
}

.btn_dangdichuyen {
    background: #00FFF3;
    color: #fff;
    font-size: 13px;
    font-family: "SF-UI-Text-Medium"
}

.btn_dahoanthanh {
    background: #13C379;
    color: #fff;
    font-size: 13px;
    font-family: "SF-UI-Text-Medium"
}

.btn_khongcoxe {
    background: #E11A1A;
    color: #fff;
    font-size: 13px;
    font-family: "SF-UI-Text-Medium"
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0072FF;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 2px 16px;
}

.modal-backdrop {
    z-index: -1;
}