@font-face {
    font-family: "SF-UI-Text-Bold";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SF-UI-Text-Regular";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Regular.otf");
}

@font-face {
    font-family: "SF-UI-Text-Medium";
    src: url("../fonts/sf-ui-text/SF-UI-Text-Medium.otf");
}

html,
header,
.view {
    height: 100%;
}

body {
    font-family: "SF-UI-Text-Medium";
    font-size: 15px;
    color: #2E2B36;
    margin: 0;
    height: 100%
}

.content h1 {
    text-align: center;
    font-family: "SF-UI-Text-Bold";
    color: #fff
}

.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}

.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}


/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */

.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

.panel .btn-group {
    margin: 15px 0 30px;
}

.panel .btn-group .btn {
    transition: background-color .3s ease;
}

.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}

.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}

.table-filter tbody tr.selected td {
    background-color: #eee;
}

.table-filter tr td:first-child {
    width: 38px;
}

.table-filter tr td:nth-child(2) {
    width: 35px;
}

.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}

.table-filter .media-meta {
    font-size: 11px;
    color: #999;
    font-family: "SF-UI-Text-Regular"
}

.table-filter .media .title {
    color: #05496B;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}

.btn-hoanthanh {
    color: #fff;
    background-color: #51BC8F
}

.btn-dichuyen {
    color: #fff;
    background-color: #E5DB2C
}

.btn-chuadinhvi {
    color: #fff;
    background-color: #FF0E48
}

.btn-dadinhvi {
    color: #fff;
    background-color: #2BA6FF
}

.btn-danhan {
    color: #fff;
    background-color: #FF5C00
}

.btn-tatca {
    color: #2E2B36;
    background-color: #BBBDBF
}

.table-filter .media .title span.hoanthanh {
    color: #51BC8F;
    font-size: 15px;
    font-family: "SF-UI-Text-Regular"
}

.table-filter .media .title span.dichuyen {
    color: #E5DB2C;
    font-size: 15px;
    font-family: "SF-UI-Text-Regular"
}

.table-filter .media .title span.dadinhvi {
    color: #2BA6FF;
    font-size: 15px;
    font-family: "SF-UI-Text-Regular"
}

.table-filter .media .title span.chuadinhvi {
    color: #FF0E48;
    font-size: 15px;
    font-family: "SF-UI-Text-Regular"
}

.table-filter .media .title span.danhan {
    color: #FF5C00;
    font-size: 15px;
    font-family: "SF-UI-Text-Regular"
}

.table-filter .media .summary {
    font-size: 14px;
}